version: "3.8"

services:
  ai-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ai-service
    environment:
      - GOOGLE_GEMINI_API_KEY=${GEMINI_API_KEY}
    env_file:
      - .env
    volumes:
        - ./data:/app/data
        - ./results:/app/results
    restart: "no"